[submodule "ObjectivePlurk/ExternalLibraries/LFWebAPIKit"]
	path = ObjectivePlurk/ExternalLibraries/LFWebAPIKit
	url = git://github.com/lukhnos/LFWebAPIKit.git
[submodule "ObjectivePlurk/ExternalLibraries/JSON"]
	path = ObjectivePlurk/ExternalLibraries/JSON
	url = https://github.com/groopd/SBJSON-library
